
*.dll
*.cs
*.cache
*.pdb
*.CopyComplete
*.txt
.vs/MegaUtils/FileContentIndex/17f33464-15b2-4723-9de4-376e41cbd1f8.vsidx
.vs/MegaUtils/FileContentIndex/6b527549-d3b6-480a-8a4d-69959dcd05ae.vsidx
.vs/MegaUtils/FileContentIndex/read.lock
.vs/MegaUtils/v17/.suo
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
*.vsidx
